* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(images/background-pattern.png);
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.3333%;
}
.col-6 {
    width: 50%;
}
.col-8 {
    width: 66.6667%;
}
.col-9 {
    width: 75%;
}
.col-12 {
    width: 100%;
}
[class*="col-"] {
    float: left ;
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 25px 0;
    min-width: 1200px;
    
}
.header>.container>.row>.col-3 {
    margin-top: 5px;
}
.menu > li {
    float: left;
    width: 25%;
    border-left: 1px solid #2c71b8;
}
.menu > li:last-child {
    border-right: 1px solid #2c71b8;
}
.menu a {
    display: block;
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: #2c71b8;
    font-size: 21px;
}
.menu > li {
    height: 50px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.row::after, .menu::after, .prod-wrapper::after, .sorting-pannel::after, .sort-select::after {
    content: "";
    display: block;
    clear: both;
}
.menu > li > a:hover {
    background-color:#2c71b8;
    color: #fff;
}
ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: none;
}
ul li:hover ul {
    visibility: visible;
    opacity: 1;
    display: block;
}
.submenu li a {
    display: block;
    background-color: #2c71b8;
    color: #fff;
    min-width: 286px;
    margin-left: -1px;
}
.submenu > li > a:hover {
    color: #2c71b8;
    background-color: #fff;
}
.dropdown:hover {
    background-color: #2c71b8;
    color: #fff;
}
.search {
    border: 1px solid #2c71b8;
    background-color: none;
    height: 40px;
    width: 200px;
    line-height: 36px;
    display: block; 
    float: left;
    position: relative;
}
.search-field {
    border: none;
    width: 160px;
    height: 40px;
    background: transparent;
    font-size: 21px;  
    color: #2c71b8;
    vertical-align: middle;
}
.search-field::placeholder {
    color: #2c71b8;
    font-size: 21px;
    padding-left: 15px;
    font-weight: 200;    
}
.search-field:focus {
    outline: none;
}
.search-btn {
   background-color: #2c71b8;
   height: 30px;
   width: 30px;
   right: 10px;
   border: none;
   color: #fff;
   padding: 0;
   position: absolute;
   right: 4px;
   top: 4px;
}
.cart-btn {
    height: 40px;
    width: 40px;
    background-color: #fff;
    margin-left: 30px;
    border: none;
    vertical-align: middle;
    color: #2c71b8;
    position: relative;
    right: 20px;
    z-index: 10;
}
.product-count {
    position: absolute;
    background-color: #2c71b8;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    z-index: 20;
    color: #fff;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    margin-top: -10px;
}
.cart {
    color: #2c71b8;
    font-size: 21px;
}
.slider-wraper {
    width: auto;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.25);
}
.sidebar {
    background-color: rgba(255, 255, 255, 0.25);
    width: 270px;
    height: 840px;
}
.sort-select {
    height: 40px;
    width: 270px;
    background-color: #2c71b8;
    border: 1px solid white;
    color: white;
}
.prod-header {
    height: 164px;
    line-height: 164px;
    font-size: 48px;
    font-weight: bold;
    color: white;
}
.sort-block {
    height: 164px;
    line-height: 164px;
}
.prod-item {
    display: block;
    width: 270px;
    height: 652px;
    text-align: center;
    border: 1px solid white;
    color: white;
    margin-bottom: 30px;
}
.prod-image {
    height: 180px;
    width: auto;
    background:rgba(255, 255, 255, 0.75);
    position: relative;
    line-height: 180px;    
}
.fullscreen-btn, .like-btn {
    height: 30px;
    width: 30px;
    position: absolute;
    border: 1px solid #2c71b8;
    color: #2c71b8;
    text-align: center;
    line-height: 30px;
}
.fullscreen-btn:hover, .like-btn:hover {
    background-color:#2c71b8;
    color: white;
}
.prod-image > img {
    vertical-align: middle;
}
.fullscreen-btn {
    top: 10px;
    right: 10px;
}
.like-btn {
    top: 50px;
    right: 10px;
}
.details-btn, .add-to-cart-btn {
    width: 210px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin: 15px auto;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
}
.details-btn {
    border: 1px solid white;
}
.add-to-cart-btn {
    background-color: rgba(255, 255, 255, 0.25);
}
.product-name {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin-left: 16px;
    margin-top: 8px;
}
.product-description {
    font-size: 21px;
    text-align: left;
    margin-left: 16px;
}
.product-description div {
    padding: 8px;
}
.product-description > div > span {
    font-weight: bold;
}
.price-tag {
    font-size: 48px;
    font-weight: bold;
    margin: 24px;
}
.cents {
    font-size: 30px;
    vertical-align: top;
    margin: 5px;
}